
*{
    box-sizing:border-box;
}
body{
    margin:0px
    font-family:sans-serif;
}
#navbar {
    background: linear-gradient(to bottom , rgb(3, 69, 3),  #061906);
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#navbar a {
    text-decoration: none;
    color:white;
    padding:24px;
    font-weight: bold;
}
#navbar h2{
    padding: 10px;
    margin-right: auto;
    color: #ececec;
}
#navbar3 {

    font-size: 20px;
    background: linear-gradient(to bottom , rgb(109, 168, 216),  #dffe30);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: ;
}
#navbar3 .cta-button {
    background-color: lightblue;
    color:rgb(71, 20, 189);
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
#navbar3 a {
    text-decoration: none;
    color:rgb(72, 137, 222);
    padding:24px;
    font-weight: bold;
}
#navbar3 h2{
    font-size:20px;
    padding: 10px;
    margin-right: auto;
    color: #0d6ebe;
}
#navbar4 {
    background-color: black;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#navbar4 h1 {
    margin-left: 100px;
    font-size:20px,
    display: flex;
    align-items: center;
}
#navbar4 h3 {
    font-size:20px,
    display: flex;
    align-items: center;
}
#navbar4 a {
    text-decoration: none;
    color:white;
    padding:24px;
}
#navbar img{
    width: 200px;
}
#navbar4 #logo{
    margin-right: auto;
}
#navbar4-bottom .cta-button {
    background-color: orange;
    color:black;
    border-radius: 25px;
    padding:  24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 200px;
    text-align: center;
    margin-right: 25px;
}
#layout4 {
    width:800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}

#header4 {
    position: sticky;
    top: 0px;
}
#navbar4-bottom {
    background: linear-gradient( to bottom, orange, white, black) ;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#navbar4-bottom a{
    text-decoration: none;
    color: black;
    font-weight:bold;
    padding: 12px 36px;
}
#footer-navbar {
    background: linear-gradient(orange, black);
    color: white;
    width: 800px;
    padding: 12px;
}
#footer a{
    text-decoration: none;
    color: white;
}
#footer-navbar {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#footer-navbar {
    background-color: orange;
    color: white;
    font-weight: bold;
    
}
#footer-navbar a{
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
