*{
    box-sizing:border-box;
}
body{
    margin:0px
    font-family:sans-serif;
}
body {
    background-image: url("../images/2400-bright-texture-for-designer-background-gentle-classic-texture-colorful-background-colorful-wall-raster-image.jpg");
    color: White;
    max-width: 1500px;
}
body{
    
}
.body .div h1{
    display: flex;
    justify-content: center;
    
}
#front-page{
    display: flex;
    flex:wrap;
    flex-direction: row;
    width: 100%;
    margin: 3px 48px;
    padding: 50px;
}
#front-page h3{
    font-size: 60px;
    padding: 15px;
    border: 5px dotted;
    margin-left: auto;
    width: auto;
}
#front-page p {
    margin: 20px;
    padding:20px;
    font-size: 30px;
}
.pics {
    display: flex;
    justify-content: space-between;
}
.pics p {
    background-color: blueviolet;
    padding: 20px;
    text-align: left;
    border: white dotted 5px ;
}
.pics a {
    color: white;
    border-radius: 40px;
    text-decoration: none;
    padding: 10px;
}
#card img{
    width: 450px;
    padding: 36px;
    margin:10px
    
}
#card {
    border: white 3px solid;
    border-radius: 40px;
    padding: 10px;
    
}
.card p {
font-size: 24px;
    margin: 24px 0px 0px;
}
#card2 img{
    width: 450px;
    padding: 36px;
}
#card2 {
    border: white 3px solid;
    border-radius: 40px;
    padding: 20px;
    margin:10px
    
}
#card3 {
    border: white 3px solid;
    border-radius: 40px;
    padding: 20px;
    margin:10px
    
}
#card3 img{
    width: 300px;
    padding: 36px;
}

.cropped-grid-gallery {
    columns: 4 auto; 
    column-gap: 24px;
    margin-bottom:  24px;
    border: white dotted 5px;
    padding: 10px;
}

.cropped-grid-gallery img{
    width: 100%;
    margin-bottom: 24px;
}
#hero a {
    font-size: 2.5vw;
    font-weight: bold;
    display: block;
    background-color: white;
    border-radius: 40px;
    text-decoration: none;
    color: purple;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
}