@import url('https://fonts.googleapis.com/css2?family=Acme&family=Shadows+Into+Light&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#animagram-card-1{
    background-color: white;
    border-radius: 20%;
    margin: 30px;
    width: 100%;
    height: 100%;
    padding: 30px;
}
#animagram-card-2{
    background-color: white;
    border-radius: 20%;
    margin: 30px;
    width: 100%;
    height: 100%;
    padding: 30px;
}

#animagram-card-3{
    background-color: white ;
    border-radius: 20%;
    margin: 50px;
    width: 100%;
    height: 100%;
    padding: 30px;
}
#card-container{
    
}

.card-container{
    display: inline-block;
    max-width:350px;
    gap:36px;
    text-align: center;
    margin: 100px;
    padding: 25px;
}
.animagram-footer{
    font-size: larger,
}
.card-container img{
    width:100%;
    border-radius: 50%;
    
}
#section-2 {
    padding: 24px;
    min-height: 100vh;
}

#section-2 {
    background: url("../images/paw-prints.jpg");
    background-size: cover;
    background-position: center center;
}
#section-2 .example-card {
    max-width: 358px;
    margin: 16px;
}

.card-style-2 .animagram-header .logo {
    font-size: 36px;
    font-family: 'Shadows Into Light';
    font-weight: bold;
    display: inline-block;
    border: 3px solid black;
    border-radius: 50%;
    width: 66px;
    text-align: center;
}

.card-style-2 .animagram-header .brand-name {
    font-family: 'Acme';
    font-weight: bold;
}

#animagram-card-4{
    background-color: white;
    border-radius: 20%;
    margin: 30px;
    width: 100%;
    height: 100%;
    padding: 30px;
}

