#palette1-title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri,  sans-serif;
    text-align: center;
}

#palette1-color1{
    background-color: #E4FDE1;
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}

#palette1-color2{
    background-color: #8ACB88;
    color: rgb(226, 43, 177);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}

#palette1-color3{
    background-color: #FFBF46;
    color: #2b65e2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}
#palette1-color4{
    background-color: #b9e3c6;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}
#palette1-color5{
    background-color: #071e22;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}
#palette1-color6{
    background-color: #1d7874;
    color: pink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}
#palette1-color7{
    background-color: #ee2e31;
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}
#palette1-color8{
    background-color: #ff7f11;
    color: #2b65e2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}
#palette1-color9{
    background-color: #531CB3;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}
#palette1-color10{
    background-color: #944BBB;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}
#palette1-color11{
    background-color: #AA7BC3;
    color: peachpuff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}
#palette1-color12{
    background-color: #CC92C2;
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}
#palette1-color13{
    background-color: #DBA8AC;
    color: #2b65e2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    text-align: center;
    padding: 24px;
}