*{
    box-sizing:border-box;
}

body{
    margin:0px;
    font-family:sans-serif;
    background-image: url("../images/pink\ pawprints.jpeg");
    
}

.adopt {
    width:50%;
    min-width: 50%;
    margin: 0px auto,
}
.adopt2 {
    display: inline-block;
    width: 50%;
}
#hero{
    width: 100%;
    height:100px;
    padding: 100px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    background-color: white;
    
}
#hero img{
    max-width: 150%;
    height: 500px;
    padding: 20px;
    background-color: #fa75ac;
    justify-content: center;
    border: #db3884 solid 10px;
    
}
#hero h2{
    background-color: #f084bc;
    border: #db3884 solid 10px;
    border-radius: 25px;
    padding: 20px;
    color: white;
    justify-content: left;
    margin-top: 200px;
    font-size: 100px;
}
#pet-image img{
    
    max-width: 150%;
    height: 500px;
    padding: 20px;
    background-color: #fa75ac;
    justify-content: center;
    border: #db3884 solid 10px;    
}

#navbar{
    background: linear-gradient(to bottom, #eebced, #db3884);
    display: flex;
    align-items: center;
}

#navbar a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

#navbar a:hover{
    background:linear-gradient(to top, #eebced, #ff1b9c);
}

.dropdown-container {
    position: relative;
}
.dropdown-menu {
    position:absolute;
    opacity:0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visibility 0.25s;
}
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
.dropdown-menu a {
    background-color: rgb(232, 98, 120);
    width: 100%;
    min-width: 200px;
}
#navbar .dropdown-menu a:hover {
    background: rgb(249, 160, 209);
}
#bear p{
    display: inline-block;
    max-width: 150%;
    margin: 20px;
    margin-bottom: 0px 10px;
    margin-top: 300px;
    padding: 50px;
    background-color: #fdbae7;
    border: #db3884 solid 25px;
    border-radius: 25px;
    font-weight: bold;
    color: #db3884;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}
#blue p{
    display: inline-block;
    max-width: 150%;
    margin: 20px;
    margin-bottom: 0px 10px;
    margin-top: 300px;
    padding: 50px;
    background-color: #fdbae7;
    border: #db3884 solid 25px;
    border-radius: 25px;
    font-weight: bold;
    color: #db3884;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}
#venti p{
    display: inline-block;
    max-width: 150%;
    margin: 20px;
    margin-bottom: 0px 10px;
    margin-top: 300px;
    padding: 50px;
    background-color: #fdbae7;
    border: #db3884 solid 25px;
    border-radius: 25px;
    font-weight: bold;
    color: #db3884;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}
#pet-info {
    display: inline-block;
    width: 80%;
}
/*Tablet Breakpoint */
@Media screen and (max-width:864px) {
    body{
        max-width:none;
        
    }
    #navbar{
        flex: column;
    }
    .dropdown-container h1{
        font-size: 100px;

    }
   
    .adopt{
        grid-template-columns: 1fr ;
        grid-template-areas: 
        "img 1",
        "txt 1";
    }

}

/*Mobile Breakpoint */
@media screen and (max-width: 480px) {
    body {
        
    }

    #adopt {
        /*flex-wrap: wrap;*/
        max-width: 480px;
        flex-direction: column;
       
    }
    
    .dropdown-container h1{
        margin: 10px;
        font-size: 32px;
    }
    .content-container{
        text-align: center;
    }
    .adopt{
        grid-template-columns: 1fr ;
        grid-template-areas: 
        "txt 1",
        "img 1";
    }
    .adopt p{
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #pet-image {
        width: 250px;
    }



