/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block{
    border-width: 12px;
    border-style: outset;
    display: inline-block;
    padding: 20px;
}
.red{
    background-color:red;
    border-color:crimson;
}
.green{
    background-color:green;
    border-color:#0ada56;
}
.yellow{
    background-color:#d5f80e;
    border-color:#dfed59;
}
.orange{
    background-color:#ff9900fb;
    border-color:#edcf59;
}
.blue{
    background-color:#001efffb;
    border-color:#056cad;
}